.search-alert {
    padding: 5px;
    background-color: #166466;
    color: #f9faf8;
    text-align: center;
}

.book-content{
    height: 100%;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1, h2, h3, p {
    margin: 0;
    text-align: center;
    color: #1f2937;
}

h4 {
    font-weight: normal;
    margin: 5px;
    color: #166466;
}

.header-form {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.form-header {
    display: flex;
    gap: 20px;
}

.form-info {
    display: flex;
    gap: 10px;
}

.middle {
    border: 2px solid #f9faf8;
}

.header-form label {
    color: #f9faf8;
    font-size: 16px;
}

.header-form label span{
    color: #f9faf8;
    font-size: 12px;
}

.header-form input {
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 18px;
    color: #166466;
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.header-form input[type="submit"] {
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    transition: 400ms;
}

.header-form input[type="submit"]:hover {
    background-color: transparent;
    color: #3882f6;
}

/* available trips for users search */
.available-trips {
    background-color: #166466;
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

/* .seat-configuration {
    background-color: #1f2937;
    padding: 20px;
} */

.boarding-current {
    display: flex;
    background-color: #f9faf8;
    padding: 10px;
    justify-content: center;
}

.boarding-content {
    border: 1px solid #166466;
    padding: 5px;
}

.boarding-content h3 {
    text-decoration: underline;
}

.boarding-content span {
    color: green;
}

.content-info {
    display: flex;
}

.book-seat{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #166466;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    transition: 400ms ease-in-out;
}

.book-seat:hover {
    background-color: #3882f6;
}

/* related trips info */
.related-trips {
    gap: 15px;
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    padding: 20px;
}

.related-current {
    display: flex;
    background-color: #f9faf8;
    padding: 10px;
    justify-content: center;
}