.book-content{
    height: 100vh;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.available-trips {
    background-color: #166466;
    padding: 20px;
}

.seat-configuration {
    background-color: #1f2937;
    padding: 20px;
}

.related-trips {
    background-color: #3882f6;
    padding: 20px;
}

.header-form {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.form-header {
    display: flex;
    gap: 20px;
}

.form-info {
    display: flex;
    gap: 10px;
}

.middle {
    border: 2px solid #f9faf8;
}

.header-form label {
    color: #f9faf8;
    font-size: 16px;
}

.header-form label span{
    color: #f9faf8;
    font-size: 12px;
}

.header-form input {
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 18px;
    color: #166466;
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.header-form input[type="submit"] {
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    transition: 400ms;
}

.header-form input[type="submit"]:hover {
    background-color: transparent;
    color: #3882f6;
}