body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.form-body {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-white);
    background: url('../Images/1f89ac5e-a90d-4790-8076-bb2af40f5c39.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
}

.hero-left h1{
    font-size: 48px;
    font-weight: 900;
    color: var(--color-secondary);
    width: 600px;
}

.hero-left span {
    color: var(--color-blue);
}

.hero-left p {
    font-size: 18px;
    color: var(--color-primary);
    width: 600px;
    margin-bottom: 30px;
}

h1, p{
    text-align: center;
    color: var(--color-primary);
    margin: 5px;
}
.titles{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    padding: 10px;
}
.login-btn, .signup-btn{
    background-color: var(--color-primary);
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    color: var(--color-secondary);
    cursor: pointer;
    transition: 400ms;
    border: none;
}

.titles #login:hover,
.titles #signup:hover {
    color: var(--color-blue);
}

.form-title {
    border: 1px solid var(--color-success);
}

.form-content {
    padding: 10px;
    padding: 30px;
}

.form-content.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-content.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-image{
    height: 100%;
    width: 60vw;
    border-radius: 5px;
}

.login-form {
    background-color: var(--color-primary);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.u-name,.p-word{
    display: flex;
    flex-direction: column;
}

.login-form label {
    color: var(--color-secondary);
    padding: 15px;
    font-size: 16px;
    background-color: var(--color-primary);
}

.login-form input {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--color-success); 
    background-color: var(--color-white);
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0  3px 15px rgba(150, 75, 75, 0.15)
}

.p-word, .pass-word {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-primary);
    padding: 15px;
}

.login-form input[type="submit"]{
    background-color: var(--color-success);
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    width: 400px;
    align-self: center;
    transition: 400ms ease-in-out;
}

.login-form input[type="submit"]:hover {
    background-color: var(--color-blue);
    color: var(--color-primary);
}

.form-submit .pword-reset{
    text-decoration: underline;
    font-size: 16px;
    color: var(--color-secondary);
    transition: 400ms;
}

.form-submit .pword-reset:hover {
    color: var(--color-blue);
}

h4 {
    border-bottom: 2px solid var(--color-secondary);
}

.signup-form {
    background-color: var(--color-primary);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    display: none;
}

.contact-details{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.signup-form label {
    color: var(--color-secondary);
    font-size: 16px;
}

.signup-form input {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--color-success); 
    background-color: var(--color-white);
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0  3px 15px rgba(0, 0, 0, 0.15)
}

.red-notice {
    color: red;
    font-size: 14px;
    margin: 0;
    display: none;
}

.signup-form input[type="submit"]{
    background-color: var(--color-success);
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    width: 400px;
    align-self: center;
    transition: 400ms ease-in-out;
}

.signup-form input[type="submit"]:hover {
    background-color: var(--color-blue);
    color: var(--color-primary);
}

.signup-form input[type="checkbox"] {
    padding: 0;
    width: auto;
    margin-top: 15px;
}

.password-view {
    align-self: flex-start;
    color: var(--color-secondary);
}

.form-terms {
    display: flex;
    align-items: center;
}

.form-terms p {
    color: var(--color-secondary);
}

.form-terms a {
    font-size: 16px;
    padding: 0;
    text-decoration: underline;
    color: var(--color-secondary);
}

.form-terms a:hover {
    color: var(--color-blue);
}

@media screen and (max-width: 992px) {
    body {
        height: 100vh;
    }

    .form-body {
        flex-direction: column;
        background: url('../Images/1f89ac5e-a90d-4790-8076-bb2af40f5c39.jpg');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100vh;
    }
    
    .form-content {
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        padding: 30px;
    }
    
    .form-content.left {
        display: none;
    }
    
    .form-content.right{
        background-color: transparent;
    }


    .login-form,
    .signup-form {
        background-color: transparent;
    }

    .login-form input,
    .signup-form input {
        width: auto;
    }
    
    h1, p{
        text-align: center;
        color: var(--color-white);
    }

    .login-form label,
    .signup-form label {
        background-color: transparent;
        color: var(--color-primary);
        font-size: 16px;
    }

    .form-submit {
        border: none;
    }
    
    .form-terms p{
        color: var(--color-secondary);
    }

    .form-submit .pword-reset{
        color: var(--color-primary);
    }    

    .form-terms p, .form-terms a {
        color: var(--color-primary);
    }
    
    .other-forms {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .form-body {
        padding: 15px 30px;
    }
    
    .form-content.left {
        display: none;
    }
    
    .login-form, 
    .signup-form {
        background-color: transparent;
    }
    
    .login-form input,
    .signup-form input {
        padding: 15px 30px;
        font-size: 16px;
        width: auto;
    }
    
    .login-form input[type="submit"],
    .signup-form input[type="submit"] {
        width: auto;
        font-size: 16px;
    }
    
    h1, p{
        text-align: center;
        color: var(--color-white);
    }
    
    .form-terms p{
        color: var(--color-secondary);
    }
}

@media screen and (max-width : 450px) {
    body {
        height: 100vh;
    }

    .titles button{
        font-size: 16px;
        padding: 10px 20px;
    }

    .form-body {
        padding: 15px 30px;
        height: 100vh;
    }
    
    .contact-details {
        gap: 0;
    }
    
    .login-form,
    .signup-form {
        padding: 10px;
    }
    
    .login-form label,
    .signup-form label {
        padding: 10px;
        font-size: 16px;
    }
    
    .login-form input,
    .signup-form input {
        padding: 10px 20px;
        font-size: 16px;
    }
    
    .form-submit .pword-reset{
        font-size: 14px;
    }    

    .form-terms p, .form-terms a {
        font-size: 14px;
        color: var(--color-primary);
    }
    
    .foot a {
        font-size: 10px;
    }
    
    .footer-text p{
        font-size: 10px;
    }
    
    .footer-text p i {
        font-size: 8px;
    }
}
