.body-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-section {
    display: flex;
    padding: 32px 50px;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background: url('../Images/1f89ac5e-a90d-4790-8076-bb2af40f5c39.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.hero-left, .hero-right {
    padding: 32px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 70px;
    border-radius: 50%;
    margin-right: 0;
}

.hero-left h1{
    font-size: 48px;
    font-weight: 900;
    color: #1f2937;
    width: 600px;
}

.hero-section span {
    color: #3882f6;
}

.hero-left p {
    font-size: 18px;
    color: #f9faf8;
    width: 600px;
    margin-bottom: 30px;
}

.hero-btn {
    padding: 16px 32px;
    font-size: 18px;
    border: 2px solid #166466;
    border-radius: 10px;
    color: #f9faf8;
    background-color: #166466;
    transition: 400ms;
}

.hero-btn:hover {
    background-color: transparent;
    color: #3882f6;
    border: 2px solid #3882f6;
}

.hero-image {
    border-radius: 10px;
    width: 800px;
    height: 700px;
    object-fit: cover;
}

.steps-section {
    display: flex;
    flex-direction: column;
    padding: 32px 50px;
}

.steps-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.steps-section h1 {
    text-align: center;
    color: #1f2937;
}

.step {
    background-color: #166466;
    color: #f9faf8;
    padding: 20px;
    width: 300px;
    
}

.step-image {
    width: 60px;
}

.step, h4, p{
    margin: 10px;
}

.step, p{
    font-size: 16px;
    text-wrap: wrap;
}

.step.select {
    background-color: #1f2937;
}

.step.pay {
    background-color: #3882f6;
}

.step.pick {
    background: #f9faf8;
    color: #1f2937;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.destination-section {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
}

.sub-title {
    text-align: center;
    color: #1f2937;
}

.sub-destination-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 32px 50px;
}

.sub-article {
    position: relative;
    width: 400px;
}

.article-image {
    width: 100%;
}

.article-info {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #f9faf8;
}

.sub-right-section {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    border: 1px solid #1f2937;
}

.about-section {
    /* height: 100vh; */
    background: url('../Images/background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* opacity: 0.9; */
}

.about-content {
    display: flex;
    flex-direction: column;
    padding: 32px 50px;
}

.about-content h1 {
    text-align: center;
    color: #166466;
    margin: 0;
}

.about-content p {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 400;
}

.about-content p span {
    color: #3882f6;
}

.about-stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.stat-content {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-radius: 10px;
    width: 200px;
    background-color: #1f2937;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.stat-content p {
    color: #f9faf8;
    text-align: center;
}

.stat-content.even {
    background-color: #166466;
}

.stat-content.odd {
    background-color: #3882f6;
}

.stat-content.even-last {
    background-color: #f9faf8;
}

.stat-content.even-last p{
    color: #1f2937;
}

.stat-img {
    width: 120px;
}

.sub-contents {
    display: flex;
    padding: 32px;
}

.about-left {
    padding: 0 50px;
}

.about-left h2 {
    text-align: center;
    color: #f9faf8;
}

.about-left p {
    color: #f9faf8;
    font-size: 18px;
    margin-bottom: 15px;
    width: 800px;
}

.about-image {
    border-radius: 20px;
}

.sub-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 15px;
}

.sub-image {
    width: 60px;
    background-color: #166466;
    padding: 15px;
    border-radius: 10px;
    box-shadow:  0 3px 15px rgba(0, 0, 0, 0.15);
}

.sub-image.odd{
    background-color: #f9faf8;
}

.content-image {
    width: 60px;
}

.sub-info h4 {
    color: #f9faf8;
}

.sub-info h4 span {
    color: #166466;
    margin-bottom: 10px;
}

.sub-info p {
    font-size: 16px;
    color: #f9faf8;
    font-weight: 500;
}

.faqs-section {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}

.faqs-title {
    color: #166466;
    text-align: center;
}

.faqs-content {
    display: flex;
}

.faqs-sub-content {
    padding:  10px 30px;
    width: 50%;
}

.sub-content-title {
    color: #1f2937;
    margin: 5px;
    cursor: pointer;
}

.sub-faqs {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    display: none;
}

.sub-faqs-top {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-faqs-top h4 {
    color: #1f2937;
    cursor: pointer;
    padding: 5px;
}

.sub-faqs-top h4 span {
    color: #3882f6;
    background-color: #f9faf8;
    border: 2px solid #3882f6;
    border-radius: 50px;
    padding: 3px 6px;
    margin-right: 3px;
}

.sub-faqs-bottom p span {
    color: #f9faf8;
    background-color: #166466;
    border-radius: 50px;
    padding: 3px 6px;
    margin-right: 3px;
}

.faqs-title-close {
    width: 30px;
}

.sub-faqs-bottom {
    background-color: #f9faf8;
    padding: 5px 10px;
    line-height: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    /* display: none; */
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* padding: 0 30px; */
}

.contact-title{
    color: #166466;
    margin: 0;
    text-align: center;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* padding: 30px; */
}

.left-title {
    color: #1f2937;
}

.contact-info {
    color: #1f2937;
    font-size: 18px;
    text-wrap: wrap;
}

.contact-articles{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.contact-article {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.cArticle-icon, .c-icon {
    width: 50px;
}

.c-title {
    font: 16px;
    margin: 0;
    margin-top: 4px;
    color: #1f2937;
}

.c-info {
    font-size: 14px;
    margin: 0;
    margin-top: 4px;
    line-height: 20px;
}

.c-info-link{
    font-size: 14px;
    text-decoration: underline;
    transition: 400ms;
    margin: 0;
    padding: 0;
}

.c-info-link:hover{
    color: #3882f6;
}

.contact-right {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-bform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form-info {
    font-size: 18px;
    color: #1f2937;
    margin: 0;
}

.open-form {
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    align-self: center;
    transition: 400ms;
    opacity: 0.8;
}

.open-form:hover {
    opacity: 1;
}

.form-section{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none;
}

.close, .close-form {
    margin-bottom: 5px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.name-labels {
    display: flex;
    /* justify-content: space-between; */
    gap: 140px;
    color: #166466;
    font-size: 18px;
    font-weight: bold;
}

.input-fields{
    margin-top: 5px;
    color: #166466;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 5px;
}

.first-name, .second-name {
    padding: 10px;
    color: #166466;
    background-color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);  
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-details input{
    border-radius: 10px;
    color: #166466;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);  
}

.contact-details textarea {
    border-radius: 10px;
    color: #166466;
    border: none;
    padding: 5px;
    font-size: 16px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);  
}

.contact-details label{
    font-weight: bold;
    color: #166466;
    font-size: 18px;
    margin-top: 5px;
}

.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-submit {
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    align-self: center;
    transition: 400ms;
}

.form-submit:hover {
    color: #f9faf8;
    background-color: #166466;
}
