body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

/* Remember to create the state te color codes as har coded elements and call them to the styling as "--color-bg, --text-color etc" */

